.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.highlight {
  background-color: rgba(255, 0, 0, 0.5); /* semi-transparent red */
  border: 2px solid red;
}

.info-strip {
  background-color: #f8f9fa;
  padding: 1rem;
  margin-bottom: 1rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 20px 0;

  position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
   
    background-color: white;
}

.pagination .active {
  background-color: #007bff;
  color: white;
}

.pagination .break-me {
  margin: 0 5px;
}

.pagination .page {
  margin: 0 10px;
  cursor: pointer;
}

.pagination .previous, .pagination .next {
  margin: 0 10px;
  cursor: pointer;
}

.image-grid img {
  cursor: pointer;
}
.imageBtn{
  cursor: pointer;
}

.image-grid-scale img {
  cursor: crosshair;
}
.imageBtnScale{
  cursor: crosshair;
}


.react-photo-gallery--gallery {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.gallery {
  display: grid;
  grid-template-rows: repeat(var(--rows), 1fr);
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: 5px;
  height: 100vh;
  width: 100vw;
  overflow: auto;
}

/* .grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  height: 100vh;
  width: 100vw;
  gap: 5px;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
  border: 1px solid #333;
  font-size: 1.5rem;
} */

.grid {
  /* display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr); */
  height: 100vh; /* Fill the entire screen */
  width: 100vw; /* Fill the entire screen */
  gap: 10px; /* Optional: add some gap between the grid items */
}

.grid-item {
  background-color: #000000; /* Optional: add a background color to see the grid items */
  overflow: hidden;
  
}
.grid-item img{
  max-width: 100%;
  max-height: 100%;
  display: block; /* Ensure the image is a block element */
  margin: auto; /* Center the image in its container */
  object-fit: contain;
  
}

.p-contextmenu .p-menuitem-link {
    color: #333;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: .5em .75em;
    cursor: pointer;
    min-height: 1em;
    overflow: hidden;
    position: relative;
    background-color: #f4f4f4;
    border: none
}

.p-contextmenu .p-menuitem-link:hover {
    background: #f4f4f4;
    color: #1976d2;
}

.p-contextmenu .p-menuitem-text {
    margin: 0 .5em 0 .5em;
}
canvas {
  border: 1px solid black;
}

.fullScreenSlidePane{
  width: 94% ! important
}
.slide-pane__content{
padding: 5px;
height: 100%
}

.graph-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.graph-container > div {
  width: 30%; /* Adjust width to fit three graphs in a row */
}